<div class="wrapper">
    <div class="links-container">
        <div class="links">
            <h3>Quick Links</h3>

            <ul>
                <li>
                    <a href="#">About Us</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
                <li>
                    <a href="#">Privacy Policy</a>
                </li>
                <li>
                    <a href="#">Terms & Conditions</a>
                </li>
            </ul>
        </div>

        <div class="links">
            <h3>Course</h3>

            <ul>
                <li>
                    <a href="#">Log In</a>
                </li>
                <li>
                    <a href="#">Download</a>
                </li>
                <li>
                    <a href="#">All Courses</a>
                </li>
            </ul>
        </div>

        <div class="links">
            <h3>Contact Us</h3>

            <ul>
                <li>contact@gmail.com</li>
            </ul>
               <div class="socials">
                <a href="#">
                    <img src="assets/images/facebook.svg" alt="">
                </a>

                <a href="#">
                    <img src="assets/images/instagram.svg" alt="">
                </a>
               </div>

               <form action="#">
                <input type="text" placeholder="Email Address">
                <button class="submit-btn">Subscribe</button>
               </form>
        </div>
    </div>

    <p class="copywright">This website is developed by JCO © 2023</p>
</div>