<div class="wrapper">
    <section class="courses-section">
    <h2 class="light">Our Courses</h2>

    <div class="course-cards">
        <div class="course-card">
            <img src="assets/images/course1.png" alt="">

            <div class="info">
                <h3>Game Design Essentials</h3>
                <div class="duration"><i class="fa-solid fa-clock"></i> 5 Hrs</div>
            </div>
        </div>

        <div class="course-card">
            <img src="assets/images/course2.png" alt="" >

            <div class="info fundamental">
                <h3>Unity Game Engine <br>Fundamentals</h3>
                <div class="duration"><i class="fa-solid fa-clock"></i> 12 Hrs</div>
            </div>
        </div>
    </div>

    <a href="#" class="btn light">All Courses</a>
</section>
</div>